---
bg: "tag.jpg"
layout: page
---
<h1>{{ page.title }}</h1>
- {{page.entry.author}} -
{% if page.entry.abstract %}
<h3>Abstract</h3>
<article class="index-page" align="justify">
{{ page.entry.abstract }} <br />
</article>
{%endif%}

{% if page.entry.doi %}
<span class="__dimensions_badge_embed__" data-doi="{{page.entry.doi}}" data-legend="always" data-style="small_circle"></span>
<p align="center">In <a href="https://doi.org/{{page.entry.doi}}" target="_blank">PDF</a></p>
{% elsif page.entry.url %}
<p align="center">In <a href="{{page.entry.url}}" target="_blank">PDF</a></p>
{%endif%}

